<ion-view title="Trainer">
<ion-nav-buttons side="left">
<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
</ion-nav-buttons>
<ion-content class="has-header">

<accordion close-others="false">
  <div class="trainer-content">
    <h3>Standard</h3>
    <accordion-group heading="Marcus Weiß & Isabel Edvardsson">
    <img src="img/trainer/hp_trainer_isabel_edvardsson_marcus_weiss_final.jpg" />
    Isabel Edvardsson und ihr Tanzpartner Marcus Weiß sind das wohl bekannteste Tanzpaar der BRD. Die Kür-Europameister der Standardtänze haben zwar aufgehört, aktiv Turniere zu tanzen, sind aber mit vollem Einsatz als Trainer in ganz Europa unterwegs. Einem breiten Publikum ist Isabel als Finalistin der RTL-Show "Let's Dance" an der Seite von Giovane Elber und Wayne Carpendale bekannt.
    </accordion-group>

    <h3>Latein</h3>
    <accordion-group heading="Motsi Mabuse & Evgenij Voznyuk">
    <img src="img/trainer/hp_trainer_motsi_mabuse_evgenij_voznyuk.jpg" />
    Motsi Mabuse und ihr Partner Evgenij Voznyuk sind wohl eines der derzeit bekanntesten Tanzpaare in Deutschland. Die Deutsche Meisterin der Lateinamerikanischen Tänze absolviert nicht nur viele Trainingseinheiten im Tanzsaal, sondern ist auch in der TV-Welt eine viel gefragte Künstlerin.
    </accordion-group>

    <accordion-group heading="Michael Hull">
    <img src="img/trainer/hp_trainer_michael_hull.jpg" />
    Michael Hull ist der perfekteste Allrounder der Welt. Der zehnfache Weltmeister, auch bekannt als Wertungsrichter der Show "Let`s Dance", ist ein Phänomen. Er konnte seine Weltmeistertitel in den drei Sektionen Standard, Latein und Breakdance erringen!
    </accordion-group>

    <h3>Salsa</h3>
    <accordion-group heading="Farid Ferchach">
      <img src="img/trainer/hp_trainer_farid_ferchach.jpg" />
      <span>Farid Ferchach ist auf den Salsakongressen dieser Welt als "Der Entertainer" bekannt. Sein strukturierter und unterhaltsamer Unterricht macht das Erlernen komplexer Figuren leicht. Aber: Farid ist nicht nur ein guter Tänzer und Lehrer, sondern auch ein begnadeter Sänger. Daher kann es durchaus passieren, dass er mitten im Unterricht zu Singen beginnt! Diesen Moment sollten Sie auf keinen Fall verpassen...</span>
    </accordion-group>
  </div>
</accordion>

</ion-content>
</ion-view>
